 * {
     margin: 0;
	 font-family: 'Noto Sans KR', sans-serif;
}

#nav {
    width: 100vw;
	height: 7vh;
	background: #ff3300;
	display: inline-flex;
	flex-direction: row;
	justify-content: flex-end;
}

.mypagebtn, .logoutbtn {
	color: white;
	margin: 20px;
	text-size: 20px;
	padding: 30px 30px 0 0;
	text-decoration: none;
}

.mypage-content {
    display: none;
    position: absolute;
    background: #ffefdf;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.mypage-content a {
    color: #ff3300;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.mypage-content a:hover {background: gray:}
.dropdown:hover .mypage-content {display: block;}
.dropdown:hover .mypagebtn {background: #ff3300}

#qnalist {
    margin: 20px;
}

.cardlist {
    border: 5px double #ff3300;
    padding: 15px;
    border-radius: 9px;
    width: w;
    margin: 30px;
}
