<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="BBakco" />
    <meta name="description" content="" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1, minimum-scale=1"/>

    <!-- http://ogp.me/ -->
    <meta property="og:title" content="QnAnswers"/>
    <meta property="og:description" content="당신이 대답하고 싶은 모든 질문들"/>
    <meta property="og:image" content="/static/image/ogimage.png"/>

    <!-- https://developer.twitter.com/en/docs/tweets/optimize-with-cards/guides/getting-started.html -->
    <meta property="twitter:card" content="" />
    <meta property="twitter:site" content="" />
    <meta property="twitter:title" content="" />
    <meta property="twitter:description" content="" />
    <meta property="twitter:image" content="" />
    <meta property="twitter:url" content="" />

    <title>QnAnswers</title>

    <!-- CSS reset, CSS style, Jquery import -->
    <link rel="stylesheet" href="/static/reset.css" />
    <link rel="stylesheet" href="/static/mypage.css" />
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>

    <!-- 일반적인 fabicon 설정 (정현) -->
    <link rel="icon" href="../static/image/fabicon.ico">
    <!-- 아이폰용 fabicon 설정 (정현) -->
    <link rel="apple-touch-icon" href="../static/image/fabicon.ico">
    <!-- 인터넷 익스플로러용 fabicon 설정 -->
    <link rel="short icon" type="image/x-icon" href="../static/image/fabicon.ico">

    <!--영어 폰트-->
    <!--font-family: 'Cormorant Garamond', serif; -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap"
      rel="stylesheet"/>

    <!--한글 폰트-->
    <!--font-family: 'Noto Sans KR', sans-serif; -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap"
      rel="stylesheet"/>
    <script>
      //로그아웃 알림 로그아웃
      function confirmLogout() {
        if (confirm("로그아웃 하시겠습니까?")) {
          location.href = "<c:url value =''/register/main>";
        }
      }
    </script>
  </head>

  <body>
    <header>
      <div id="nav">
        <div class="dropdown">
          <a class="mypagebtn" href="/">Home</a>
          <a class="mypagebtn" href="/mypage">My page</a>
          <!-- <div class="mypage-content">
                    <a class="changebtn" type="button" href="" onclick="">회원정보 변경</a>
                    <a class="deletebtn" type="button" href="">탈퇴하기</a>
                </div> -->
        </div>
        <div id="logbtn">
          <a
            class="logoutbtn"
            type="button"
            href="javascript:void(0);"
            onclick="confirmLogout();"
            >logout</a>
        </div>
      </div>
    </header>
    <form action="#" method="post">
      <input type="hidden" name="idx" value="" />
      <hr />
      <p>회원정보 수정</p>
      <hr />
      User Email :
      <p>{{ session.get('username') }}</p>
      User Pwd : <input type="password" name="Pw" /><br />
      <input type="submit" value="수정" />
      <input type="button" value="탈퇴" />
    </form>
  </body>
</html>
